<!-- Pour construire le pendu, on superpose les images-->
<div class="hangman-drawing">
  <img src="/images/step1.png" ng-show="ctrl.showLayer(10)">
  <img src="/images/step2.png" ng-show="ctrl.showLayer(9)">
  <img src="/images/step3.png" ng-show="ctrl.showLayer(8)">
  <img src="/images/step4.png" ng-show="ctrl.showLayer(7)">
  <img src="/images/step5.png" ng-show="ctrl.showLayer(6)">
  <img src="/images/step6.png" ng-show="ctrl.showLayer(5)">
  <img src="/images/step7.png" ng-show="ctrl.showLayer(4)">
  <img src="/images/step8.png" ng-show="ctrl.showLayer(3)">
  <img src="/images/step9.png" ng-show="ctrl.showLayer(2)">
  <img src="/images/step10.png" ng-show="ctrl.showLayer(1)">
</div>
