.game-over-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    font-size: 1.5em;
    font-weight: bold;

    strong {
      display: block;
      text-align: center;
      color: #e87722;
      font-size: 2em;
    }
  }
  
  img {
    display: flex;
    margin: auto;
  }
}
